/* Include Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Common Style */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.button {
    font-size: 16px;
    color: #fff !important;
    background-color: #21b573;
    border-radius: 25px;
    display: inline-block;
    padding: 6px 20px !important;
}

.button:hover {
    text-decoration: none;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.button:active,
.button:focus {
    outline: 0;
    outline-color: transparent;
    box-shadow: none;
}

@media only screen and (max-width: 991px) {
    .button {
        font-size: 14px;
    }
}

.title {
    color: #413960;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 25px;
}

/* Navabr */
.navbar {
    background-color: #f0fff0;
}

.navbar-brand img {
    height: 50px;
}

.navbar .nav-item {
    margin: 0 10px;
}

.navbar .nav-item .nav-link {
    font-size: 17px;
}

.navbar .nav-item.active .nav-link {
    color: #21b573;
}

.navbar .nav-item .nav-link:hover {
    color: #21b573;
}

@media only screen and (max-width: 767px) {
    .navbar .navbar-nav {
        text-align: center;
    }

    .navbar .nav-item {
        margin: 10px 0;
    }
}


/* Banner */
.banner {
    height: 100vh;
    background-color: #f0fff0;
    display: flex;
    align-items: center;
}

.banner p {
    color: #FD511A;
    font-size: 16px;
    line-height: 24px;
}

.banner h2 {
    font-size: 48px;
    line-height: 70px;
}

.banner h2 span:first-child {
    color: #000;
}

.banner h2 span:first-child {
    color: #21b573;
}

.banner .description {
    color: #6C6B6B;
    display: block;
    font-size: 16px;
    line-height: 36px;
}

.banner .button {
    margin-top: 15px;
}

@media only screen and (max-width: 991px) {
    .banner h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .banner .description {
        font-size: 13px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        margin-top: 50px;
    }

    .banner h2 br {
        display: none;
    }

    .banner .col-md-6:first-child {
        margin-bottom: 50px;
    }

    .banner .btn-div {
        text-align: right;
    }
}

@media only screen and (max-width: 575px) {
    .banner h2 br {
        display: block;
    }

    .banner p {
        margin-bottom: 5px;
    }
}

/* Counter */
.counter {
    padding: 50px 0;
}

.counter .card {
    height: 190px;
    border: 0;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    transition: 0.5s;
    background-color: #F8FFFB;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.counter .card:hover {
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.counter .card img {
    height: 80px;
    width: 60px;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -17%);
}

.counter .card p {
    margin: 5px;
    font-size: 12px;
}

.counter .card .number-count {
    color: #413960;
    padding-top: 90px;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
    .counter .card {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 575px) {
    .counter .card img {
        height: 60px;
        width: 53px;
    }

    .counter .card .number-count {
        padding-top: 68px;
        font-size: 13px;
    }
}

/* Online Courses */
.online-courses {
    padding: 50px 0;
}

.online-courses .card {
    border: 0;
    padding: 20px 20px 0 20px;
    border-radius: 12px;
    transition: 0.7s;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.online-courses .card:hover {
    box-shadow: none;
    background-color: #F8FFFB;
}

.online-courses .card .card-body {
    padding: 15px 0 20px 0;
}

.online-courses .card .card-title {
    color: #413960;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0;
}

.online-courses .card .card-text {
    color: #413960;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}

.online-courses .card-body img {
    height: 18px;
    width: 20px;
}

.online-courses .card-body span {
    color: #585859;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    margin-top: 2px;
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .online-courses .card-body span {
        font-size: 13px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .online-courses .card .card-title {
        font-size: 16px;
        line-height: 24px;
    }

    .online-courses .card .card-text {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .online-courses .card-body img {
        height: 10px;
        width: 12px;
    }

    .online-courses .card-body span {
        font-size: 10px;
        line-height: 24px;
    }

    .online-courses .card-body .button {
        font-size: 9px;
    }
    
    .online-courses .card-body .flex {
    }
}

@media only screen and (max-width: 767px) {
    .online-courses .col-md-4 {
        margin-bottom: 25px;
    }
    
    .online-courses .col-md-4:last-child {
        margin-bottom: 0px;
    }
}
